body{
    padding: 0px;
    margin: 0px;
    justify-content: space-;
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.
.Left-arrow{
    transform: rotate(180deg);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color:lightblue;
    border-color: black;
    color: darkblue;
    font-size: 20px;
}
.mid-arrow{
    flex-direction: column;
    width: 60px;
    height: 60px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.up-arrow{
    transform: rotate(270deg);
    border-radius: 10px;
    background-color:lightblue;
    width: 30px;
    height: 60px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-color: black;
    color: darkblue;
    font-size: 20px;
}
.space{
    width: 300px;
   
}
.down-arrow{
    transform: rotate(90deg);
    width: 30px;
    height: 60px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    background-color:lightblue;
    border-color: black;
    color: darkblue;
    font-size: 20px;
}
.right-arrow{
    transform: rotate(0deg);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color:lightblue;
    border-color: black;
    color: darkblue;
    font-size: 20px;
}
.button
{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color:lightblue;
    border-color: black;
    color: darkblue;
    font-size: 20px;
}
.shift{
    width: 80px;
    height: 60px;
    border-radius: 10px;
    background-color:lightblue;
    border-color: black;
    color: darkblue;
    font-size: 20px;
}
.tab{
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background-color:lightblue;
    border-color: black;
    color: darkblue;
    font-size: 20px;
}